$colors: (
    'gray-light': #f0f1f1,
    'gray-dark': #a2a2a2,
);

@each $key, $value in $colors {
    /* Color: #{$key} */
    .text-#{$key}, 
    .text-#{$key}:hover, 
    .text-#{$key}:active, 
    .text-#{$key}:focus, 
    .text-#{$key}:visited,
    .text-#{$key} *, 
    .text-#{$key} *:hover, 
    .text-#{$key} *:active, 
    .text-#{$key} *:focus, 
    .text-#{$key} *:visited { 
        color: $value;
    }
    .bg-#{$key} {
        background-color: $value;
    }
    .border-#{$key} {
        border-color: $value;
    }
}