.ls-none 
{
	list-style: none; 
}
.horizontal-list li
{
	float: left;
}
.ultra-thin 
{
	font-weight: 100;
}
.thin
{
	font-weight: 300;
}
.regular
{
	font-weight: 500;
}
.bold 
{
	font-weight: 700;
}
.ultra-bold, .bolder 
{
	font-weight: 900;
}

/* background settings */
.bg[class*=" bg-center"] {
    background-position: center;
}
.bg[class*=" bg-top"] {
    background-position: top;
}
.bg[class*=" bg-bottom"] {
    background-position: bottom;
}
.bg[class*=" bg-left"] {
    background-position: left;
}
.bg[class*=" bg-right"] {
    background-position: right;
}
.bg[class*=" bg-cover"] {
    background-size: cover;
}
.bg[class*=" bg-contain"] {
    background-size: contain;
}
.bg[class*=" bg-norepeat"] {
    background-repeat: no-repeat;
}

/* border */
@for $i from 1 through 5
{
	.border-#{$i} 
	{
		border: solid $i + px;
	}  
}

/* spacer */
@for $i from 1 through 10
{
	.spacer-#{$i} 
	{
		height: $i + em;
		clear: both;
	}  
}

/* font-size responsive (recommended for titles) */
@for $i from 1 through 10
{
  .text-fluid-#{$i} 
	{
		font-size: $i + vh;
	}  
}

/* font-size (recommended for medium and long texts) */
@for $i from 10 through 100
{
	.f#{$i} 
	{ 
	  	font-size: $i + px; 
	}  
}

/* line-height */
@for $i from 10 through 100
{
	.l#{$i} 
	{ 
	  	line-height: $i + px; 
	}  
}

