/* color: gray-light */
.text-gray-light,
.text-gray-light:hover,
.text-gray-light:active,
.text-gray-light:focus,
.text-gray-light:visited,
.text-gray-light *,
.text-gray-light *:hover,
.text-gray-light *:active,
.text-gray-light *:focus,
.text-gray-light *:visited {
  color: #f0f1f1;
}

.bg-gray-light {
  background-color: #f0f1f1;
}

.border-gray-light {
  border-color: #f0f1f1;
}

/* color: gray-dark */
.text-gray-dark,
.text-gray-dark:hover,
.text-gray-dark:active,
.text-gray-dark:focus,
.text-gray-dark:visited,
.text-gray-dark *,
.text-gray-dark *:hover,
.text-gray-dark *:active,
.text-gray-dark *:focus,
.text-gray-dark *:visited {
  color: #757575;
}

.bg-gray-dark {
  background-color: #757575;
}

.border-gray-dark {
  border-color: #757575;
}